body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: Arial, sans-serif;
    background-color: rgb(63, 77, 72);
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.Calculatrice{
    margin-top: 20%;
    background-color: rgb(53, 73, 73);
    border: solid;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
}

.screen{
    background: rgb(163, 255, 135);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.screen input{
    width: 97%;
    border: none;
    border-radius: 12px;
    background: transparent;
    font-size: 50px;
    text-align: right;
    overflow-x: auto;
     white-space: nowrap;
}


.option button{  
    background: #a1a88f;
    border: 1px solid #888;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px;
    transition: background 0.2s;
    margin: 3px;
}

.option button:hover{
    background: #595be7;
    cursor: pointer;     
}

.bouton1, .bouton2{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.nombre .bouton1{
    padding: 100px;
}

.visible{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
}

.invisible{
    display: none;
}

#science{
    background-color: rgb(248, 151, 151);
}

#science:hover{
    background-color: rgb(238, 77, 77);
}

#Clear:hover{
    background-color: rgb(255, 255, 255);
}

#Game:hover{
    background-color: rgb(0, 255, 115);
}